
<div class="col-lg-2" *ngIf="isLogged">
  <button
    type="button"
    class="btn btn-dark"
    routerLink="/editpersona/1"
  >
    Editar Persona y Metodos de contacto
  </button>
</div>

<div id="about">
  <div id="about-card" class="container card glass">
    <img id="foto-perfil" src={{persona.img}} alt="perfil" />
    <div>
      <h3 class="neon-text">Who am I ?</h3>
      <p>
        {{persona.descripcion}}
      </p>
    </div>
  </div>
  <div id="download-cv" class="container card glass">
    <p>If you want to know more about me</p>
    <!-- <a class="button-aboutme" id="acerca-de-mi" href="/files_extras/María Antonieta Romani - CV-1.pdf"
                      target="_blank">Curriculum</a> -->
    <a class="btn-neon" href="{{ persona.urlcv }}" target="_blank"
      >Download cv</a
    >
  </div>
</div>
