<h4 class="section-title ruta">
  C:/LCassarini/<span class="titulo" id="maquina-about">AboutMe</span
  ><span class="cursor">_</span>
</h4>
<div id="about">
  <div id="about-card" class="container card glass">
    <img id="foto-perfil" src="../../assets/ilustración4.png" alt="perfil" />
    <div>
      <h3 class="neon-text">Who am I ?</h3>
      <p>
        I´m a Informatic engineering student and Full Stack web developer. I’m
        from Argentina and I’m 23 years old. I make IT solutions and my favorite
        area is the back end.
      </p>
    </div>
  </div>
  <div id="download-cv" class="container card glass">
    <p>If you want to know more about me</p>
    <!-- <a class="button-aboutme" id="acerca-de-mi" href="/files_extras/María Antonieta Romani - CV-1.pdf"
                      target="_blank">Curriculum</a> -->
    <a class="btn-neon" href="../../assets/lcassariniCV.pdf" target="_blank"
      >Download cv</a
    >
  </div>
</div>
