<div class="container glass border-glass">
    <div class="row">
        <div>
            <a id="close-login" href="#">
                <i class="fa-regular fa-circle-xmark"></i>
            </a>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de Proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="urlHost">URL Host</label>
                    <input type="text" class="form-control" id="urlHost" name="urlHost" [(ngModel)]="urlHost" required>
                </div>
                <div class="form-group">
                    <label for="urlGit">URL Git</label>
                    <input type="text" class="form-control" id="urlGit" name="urlGit" [(ngModel)]="urlGit" required>
                </div>
                <div class="form-group">
                    <label for="urlImagen">URL Imagen</label>
                    <input type="text" class="form-control" id="urlImagent" name="urlImagen" [(ngModel)]="urlImagen" required>
                </div>

                <button class="btn btn-neon" >
                    Agregar Proyecto
                </button>
            </form>
        </div>
    </div>
</div>
