<!--? ============================== LOGIN ============================== -->
<div class="centrar-pantalla container" id="login">
  <div class="container glass" id="login-card">
    <div class="row">
      <div>
        <a id="close-login" href="#">
          <i class="fa-regular fa-circle-xmark"></i>
        </a>
        <form (ngSubmit)="onValidarUsuario()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="usuario">User</label>
            <input
              type="text"
              class="form-control typeEmailX-2"
              id="usuario"
              name="usuario"
              [(ngModel)]="usuario"
              required
            />
          </div>
          <div class="form-group">
            <label for="contrasena">Password</label>
            <input
              type="password"
              class="form-control typePasswordX-2"
              id="contrasena"
              name="contrasena"
              [(ngModel)]="contrasena"
              required
            />
          </div>
          <div class="btn-log">
            <button class="btn btn-neon">LogIn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
