<div class="col-lg-2 boton-agregar" *ngIf="isLogged">
  <button
    type="button"
    class="btn btn-dark"
    routerLink="/nuevaedu"
  >
    <i class="fa-solid fa-plus"></i>
  </button>
</div>

<div id="work-experience">
  <div
    *ngFor="let acreditacion of educacion"
    class="card mb-3 card-about text-center glass"
    style="max-width: 540px"
  >
    <div class="row g-0" style="width: 100%">
      <div class="col-md-4">
        <img src="{{acreditacion.urlImagenEdu}}" class="img-fluid img-circle" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            {{ acreditacion.nombreEdu }}
          </h5>
          <p class="card-text">{{ acreditacion.descripcionEdu }}</p>
          <p class="card-text">{{ acreditacion.fechaEdu }}</p>

          <div class="botones-de-edicion" *ngIf="isLogged">
            <button
              id="editar"
              class="btn btn-dark"
              routerLink="/editedu/{{ acreditacion.id }}"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              id="eliminar"
              class="btn btn-dark"
              (click)="delete(acreditacion.id)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
