<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Titulo de estudio</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="educacion.nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="educacion.descripcionEdu" required>
                </div>
                <div class="form-group">
                    <label for="fechaEdu">fecha</label>
                    <input type="text" class="form-control" id="fechaEdu" name="fechaEdu" [(ngModel)]="educacion.fechaEdu" required>
                </div>
                <div class="form-group">
                    <label for="urlImagenEdu">Url Imagen</label>
                    <input type="text" class="form-control" id="urlImagenEdu" name="urlImagenEdu" [(ngModel)]="educacion.urlImagenEdu" required>
                </div>

                <button class="btn btn-primary" >
                    Actualizar educacion
                </button>
            </form>
        </div>
    </div>
</div>