<div class="container glass border-glass" *ngIf="skill">
    <div class="row">
        <div>
            <a id="close-login" href="#">
                <i class="fa-regular fa-circle-xmark"></i>
            </a>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" class="form-control" id="color" name="color" [(ngModel)]="skill.color" required>
                </div>

                <button class="btn btn-neon" >
                    Actualizar Skill
                </button>
            </form>
        </div>
    </div>
</div>