.botones-de-edicion{
    display: flex;
    margin-right: 5px;
}

.botones-de-edicion button{
    margin: 0 2px;
}

.botones-de-edicion i{
    size: 2em;
}

#editar:hover{
    background-color: rgb(102, 212, 255);
}

#eliminar:hover{
    background-color: red;
}

.boton-agregar{
    display: flex;
    justify-content: right;
    width: 100%;
}

.boton-agregar button:hover{
    background-color: rgb(188, 255, 188);
}