<app-nav></app-nav>

<!--?=============================================================================-->
<!--?                                    Container                                -->
<!--?=============================================================================-->
<div id="main-gap">
  <div class="container">

    <app-banner></app-banner>

    <app-who-am-i></app-who-am-i>

    <hr class="separation" />
    <app-work></app-work>

    <hr class="separation" />
    <app-acreditations></app-acreditations>

    <hr class="separation" />

    <!--?====================== SKILLS ======================-->
    <app-skills></app-skills>

    <!--?====================== PROYECTOS ======================-->

    <h4 class="section-title ruta">
      C:/LCassarini/<span class="titulo" id="maquina-project">Projects</span
      ><span class="cursor">_</span>
    </h4>
    <div id="projects" class="container">
      <div class="contenedor">
        <figure>
          <img src="Imagenes/FondoProject.png" alt="img-proyecto" />
          <div class="capa glass">
            <h3 class="neon-text">Titulo Proyecto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              quibusdam dolore ipsum est et?
            </p>
            <a href="#" class="btn btn-primary btn-neon">Web Host</a>
            <a href="#" class="btn btn-primary btn-neon">Github</a>
          </div>
        </figure>
      </div>

      <div class="contenedor">
        <figure>
          <img src="Imagenes/FondoProject2.png" alt="img-proyecto" />
          <div class="capa glass">
            <h3 class="neon-text">Titulo Proyecto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              quibusdam dolore ipsum est et?
            </p>
            <a href="#" class="btn btn-primary btn-neon">Web Host</a>
            <a href="#" class="btn btn-primary btn-neon">Github</a>
          </div>
        </figure>
      </div>

      <div class="contenedor">
        <figure>
          <img src="Imagenes/FondoProject.png" alt="img-proyecto" />
          <div class="capa glass">
            <h3 class="neon-text">Titulo Proyecto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              quibusdam dolore ipsum est et?
            </p>
            <a href="#" class="btn btn-primary btn-neon">Web Host</a>
            <a href="#" class="btn btn-primary btn-neon">Github</a>
          </div>
        </figure>
      </div>

      <div class="contenedor">
        <figure>
          <img src="Imagenes/FondoProject.png" alt="img-proyecto" />
          <div class="capa glass">
            <h3 class="neon-text">Titulo Proyecto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              quibusdam dolore ipsum est et?
            </p>
            <a href="#" class="btn btn-primary btn-neon">Web Host</a>
            <a href="#" class="btn btn-primary btn-neon">Github</a>
          </div>
        </figure>
      </div>

      <div class="contenedor">
        <figure>
          <img src="Imagenes/FondoProject2.png" alt="img-proyecto" />
          <div class="capa glass">
            <h3 class="neon-text">Titulo Proyecto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              quibusdam dolore ipsum est et?
            </p>
            <a href="#" class="btn btn-primary btn-neon">Web Host</a>
            <a href="#" class="btn btn-primary btn-neon">Github</a>
          </div>
        </figure>
      </div>

      <div class="contenedor">
        <figure>
          <img src="Imagenes/FondoProject.png" alt="img-proyecto" />
          <div class="capa glass">
            <h3 class="neon-text">Titulo Proyecto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              quibusdam dolore ipsum est et?
            </p>
            <a href="#" class="btn btn-primary btn-neon">Web Host</a>
            <a href="#" class="btn btn-primary btn-neon">Github</a>
          </div>
        </figure>
      </div>
    </div>

    <hr class="separation" />

    <!--? --------------- CONTACT ME ---------------- -->

    <h4 class="section-title ruta">
      C:/LCassarini/<span class="titulo" id="maquina-contact">ContactMe</span
      ><span class="cursor">_</span>
    </h4>

    <div id="contact" class="contaier">
      <div id="my-contacts" class="container glass card">
        <p>Do you want to communicate with me?</p>
        <img id="foto-contacto" src="Imagenes/ilustración4.png" alt="perfil" />
      </div>
      <div id="contact-networks" class="container">
        <div id="portapapeles">
          <p id="correo">lucianogabrielcassarini@gmail.com</p>
          <p id="phone-number">3404516686</p>
        </div>
        <!--!----- EMail ------->
        <button id="btn_correo">
          <div class="card glass contacto" onclick="copy_alert('Email')"></div>
        </button>

        <!--!----- Linkedin ------->
        <a href="https://www.linkedin.com/in/lcassarini/" target="_blank">
          <div class="card glass contacto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              focusable="false"
              viewBox="0 0 12 12"
            >
              <path
                fill="currentColor"
                d="M11 0a1 1 0 01.993.883L12 1v10a1 1 0 01-.883.993L11 12H1a1 1 0 01-.993-.883L0 11V1A1 1 0 01.883.007L1 0h10zm0 1H1v10h10V1zM7.742 4.63c1.502 0 1.78.988 1.78 2.273L9.52 9.52H8.04L8.037 7c-.01-.51-.098-1.065-.769-1.065-.723 0-.872.53-.888 1.109L6.378 9.52H4.897V4.75h1.422v.65h.02a1.56 1.56 0 011.403-.771zm-3.776.119V9.52H2.482V4.749h1.484zm-.741-2.372a.86.86 0 110 1.72.86.86 0 010-1.72z"
              />
            </svg>
          </div>
        </a>

        <!--!----- Instagram ------->
        <a href="https://www.instagram.com/lucianocassarini" target="_blank">
          <div class="card glass contacto">
            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
            <svg
              enable-background="new 0 0 512 512"
              id="Layer_1"
              version="1.1"
              viewBox="0 0 512 512"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g>
                <path
                  d="M505,257c0,34.8-0.7,69.7,0.2,104.5c1.5,61.6-37.2,109.2-86.5,130.4c-19.8,8.5-40.6,13-62.1,13c-67.3,0.1-134.7,1-202-0.3   c-50.7-1-92.4-22.2-122.3-64c-15.7-22-23.2-47-23.2-74.1c0-71.7,0-143.3,0-215c0-58.5,28.5-99.4,79.1-126C110.2,14,134.1,9.1,159,9   c65.3,0,130.7-0.4,196,0.2c50.7,0.4,93,19.8,124.2,60.6c17.4,22.8,25.8,49,25.8,77.8C505,184,505,220.5,505,257z M46,257   c0,36.7,0,73.3,0,110c0,16.4,3.8,31.8,12.3,45.7c22.3,36.5,56,54.3,97.8,55c67.1,1,134.3,0.4,201.5,0.2c16.5,0,32.5-3.4,47.4-10.5   c40.6-19.4,63.3-50.3,63.1-96.7c-0.4-71-0.1-142-0.1-213c0-20.1-5.7-38.5-17.6-54.7c-23-31.1-54.8-46.4-92.8-46.8   c-67-0.8-134-0.3-201-0.2c-14.3,0-28.1,2.9-41.5,7.9c-36.8,13.7-71,48.4-69.4,99.5C46.9,188,46,222.5,46,257z"
                />
                <path
                  d="M257.6,363c-64.5,0-116.5-51.4-116.6-115.4c-0.1-63,52.3-114.6,116.4-114.6c64.3-0.1,116.5,51.4,116.6,114.9   C374,311.3,321.9,362.9,257.6,363z M257.6,326c43.9,0,79.5-35.1,79.4-78.3c-0.1-42.8-35.7-77.8-79.4-77.8   c-43.9,0-79.7,34.9-79.7,78C178,291.1,213.7,326.1,257.6,326z"
                />
                <path
                  d="M387.5,98c13.5,0,24.5,11.5,24.5,25.6c-0.1,14.1-11.2,25.5-24.7,25.4c-13.3-0.1-24.2-11.5-24.2-25.3   C363,109.6,374,98,387.5,98z"
                />
              </g>
            </svg>
          </div>
        </a>

        <!--!----- Number ------->
        <button onclick="copy_alert('Phone number')">
          <div class="card glass contacto">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="512px"
              height="512px"
              viewBox="0 0 512 512"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M256,32c123.5,0,224,100.5,224,224S379.5,480,256,480S32,379.5,32,256S132.5,32,256,32 M256,0C114.625,0,0,114.625,0,256
            		s114.625,256,256,256s256-114.625,256-256S397.375,0,256,0L256,0z M398.719,341.594l-1.438-4.375
            		c-3.375-10.062-14.5-20.562-24.75-23.375L334.688,303.5c-10.25-2.781-24.875,0.969-32.405,8.5l-13.688,13.688
            		c-49.75-13.469-88.781-52.5-102.219-102.25l13.688-13.688c7.5-7.5,11.25-22.125,8.469-32.406L198.219,139.5
            		c-2.781-10.25-13.344-21.375-23.406-24.75l-4.313-1.438c-10.094-3.375-24.5,0.031-32,7.563l-20.5,20.5
            		c-3.656,3.625-6,14.031-6,14.063c-0.688,65.063,24.813,127.719,70.813,173.75c45.875,45.875,108.313,71.345,173.156,70.781
            		c0.344,0,11.063-2.281,14.719-5.938l20.5-20.5C398.688,366.062,402.062,351.656,398.719,341.594z"
                />
              </g>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
