<app-nav></app-nav>

<!--?=============================================================================-->
<!--?                                    Container                                -->
<!--?=============================================================================-->
<div id="main-gap">
  <div class="container">

    <app-banner></app-banner>

    <app-who-am-i></app-who-am-i>

    <hr class="separation" />
    <app-work></app-work>

    <hr class="separation" />
    <app-acreditations></app-acreditations>

    <hr class="separation" />

    <!--?====================== SKILLS ======================-->
    <app-skills></app-skills>

    <!--?====================== PROYECTOS ======================-->
    <app-proyectos></app-proyectos>
    
    <hr class="separation" />

    <app-contacto></app-contacto>
  </div>
</div>
